body {
  background-color: rgb(31, 24, 24);
}
.entirety {
  background-color: gray;
  width: 900px;
  height: 700px;
  margin-left: 200px;
  margin-top: -21px;
}
hr {
  height: 1px;
  background-color: #f1b24a;
}

header {
  margin-top: -5px;
  margin-bottom: -15px;
}
nav {
  float: right;
  margin-top: -60px;
  margin-right: 50px;
}

/**styling of container carrying the image**/
.image {
  background-color: gray;
  margin-left: 20px;
}
.about-title {
  text-align: center;
}

/**styling about container**/
.about {
  float: right;
  width: 500px;
  height: 550px;
  margin-top: -310px;
  background-color: gray;
}
/**styling more-about container**/
.more-about {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.more-one-me {
  padding-top: 50px;
  padding-left: 2em;
}

/**styling of the footer**/
footer {
  background-color: gray;
  height: 100px;
  margin-top: 310px;
  width: 900px;
}
/**styling of paragraphs**/

p {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
/**The following handles styling of the Links(a tags)**/
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: #f1b24a;
}
a:active {
  color: blue;
}
