body {
  background-color: #202020;
}
.content_holder {
  background-color: #000000;
  height: 820px;
  width: 700px;
  margin-left: 300px;
}

.profile_picture {
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 250px;
  width: 22%;
}
.name {
  color: white;
}

p.solid {
  border-style: solid;
  border-color: white;
  border-width: medium;
  border-right: 1px;
  border-left: 1px;
}

.aboutMe_link {
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: yellow;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}
