body {
  background-color: #202020;
}
.content_holder {
  background-color: #000000;
  height: 820px;
  width: 700px;
  margin-left: 300px;
}

.profile_picture {
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 250px;
  width: 22%;
}

.instaLogo {
  border-radius: 50%;
  width: 10%;
}

.name {
  color: white;
}

.AboutMe {
  padding: 30px 30px;
  margin-left: 220px;
  margin-top: 20px;
}

.ContactMe {
  padding: 30px 30px;
  margin-left: 220px;
  margin-top: 30px;
}

.MyGithub {
  padding: 30px 30px;
  margin-left: 220px;
  margin-top: 30px;
}

.MyLinkedIn {
  padding: 30px 30px;
  margin-left: 220px;
  margin-top: 30px;
}

.intro {
  color: white;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-decoration: underline;
}
.Introduction {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin-left: 10px;
}

.academics_header {
  color: white;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-decoration: underline;
}

.Academics {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin-left: 10px;
}

.myEmail {
  padding: 30px 30px;
  margin-left: 150px;
  margin-top: 20px;
}

.myIG {
  padding: 30px 30px;
  margin-left: 150px;
  margin-top: 20px;
}

/* unvisited link */
a:link,
a:visited {
  background-color: black;
  color: white;
  border: 2px solid white;
  text-align: center;
  text-decoration: solid;
  padding: 30px 50px;
}

/* visited link */

/* mouse over link */
a:hover,
a:active {
  background-color: grey;
  color: white;
}
